.chapter3 {
  
}

.user-form {
  padding: 10px 0;
  &__main {
    float: left;
    width: 310px;
  }
  &__status {
    float: left;
    width: 310px;
    height: 200px;
    padding: 0 10px;
    margin-left: 0px;
    vertical-align: middle;
  }
  &__field {
    & + & {
      margin-top: 10px;
    }
  }
  &__input {
    width: 300px;
    padding: 10px 15px;
    margin-top: 10px;
    border: 1px solid #d7d8d7;
    border-radius: 3px;
    outline: none;
    &:focus {
      border: 1px solid #32b3c7;
    }
  }
}
