.header {
  background: #222;
  &__content {
    width: 1024px;
    margin: 0 auto;
  }
  &__logo {
    font-size: 24px;
    line-height: 50px;
    height: 50px;
    &-img {
      display: inline-block;
      width: 36px;
      height: 36px;
      vertical-align: middle;
    }
    &-label {
      display: inline-block;
      margin-left: 10px;
      color: #00d8ff;
      vertical-align: middle;
    }
  }
}
